POSTGRES_PASSWORD=1234567890test
POSTGRES_DB=effectiveOfficeBackendDB
POSTGRES_USER=postgres
DATABASE_HOST=0.0.0.0
DATABASE_PORT=15432
DATABASE_NAME=effectiveOfficeBackendDB
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=1234567890test
VERIFICATION_PLUGIN_ENABLE=false
MIGRATIONS_ENABLE=false
SERVICE_ACCOUNT_KEY_PATH={your firebase service account credentials json}
JSON_CREDENTIALS={your google calendar service account credentials json}
LOG_LEVEL=trace
DEFAULT_CALENDAR=c_eb4661ed1e18d18f0ca62fb4571489430ff758151f62b7b04c431d2b6c75b482@group.calendar.google.com
WORKSPACE_CALENDAR=c_e71fc3e59a9d5a157e0a3fd2f9b4f90c00f7afc9f60ba22bdec7a15ce319eaf0@group.calendar.google.com